Makefile
Makefile.in
mkinstalldirs
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.status.lineno
config.rpath
config.sub
configure
configure.lineno
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

*.o
*~
root
tags
cscope.out
cscope.in.out
cscope.po.out
pacman-*.tar.gz
