Makefile
Makefile.in
mkinstalldirs
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.rpath
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

*.o
*~
root
tags
cscope.out
pacman-*.tar.gz
