tidy.sh
tidy/build_references.sh
tidy/docs.sh
tidy/emptydirs.sh
tidy/libtool.sh
tidy/missing_backup.sh
tidy/optipng.sh
tidy/purge.sh
tidy/staticlibs.sh
tidy/strip.sh
tidy/upx.sh
tidy/zipman.sh
util.sh
