lint_package.sh
lint_package/build_references.sh
lint_package/missing_backup.sh
tidy.sh
tidy/docs.sh
tidy/emptydirs.sh
tidy/libtool.sh
tidy/optipng.sh
tidy/purge.sh
tidy/staticlibs.sh
tidy/strip.sh
tidy/upx.sh
tidy/zipman.sh
util.sh
